<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.iomil.babytube"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/youtube_icon_full_color"
        android:label="@string/app_name"
        android:roundIcon="@drawable/youtube_icon_full_color"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>-->
        <activity
            android:name=".YoutubePlayerActivity"
            android:label="@string/title_activity_youtube_player"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>